/* don't number each post header */
.section-number-2 {
    display: none
}

/* hide tags */
span.tag {
    display: none;
}

/* taglist setting */
div#taglist p {
    display:inline;
    font-size: 13pt;
    line-height: 30px;
    cursor: pointer;
}
div#taglist p:hover {
    background-color: black !important;
    color: white !important;
}
div#taglist p.noselect {
    color: gray;
    border-color: gray;
}
div#taglist p.include {
    color: black;
    border-color:black;
    background-color: #aaaaff ;
}
div#taglist p.exclude {
    text-decoration: line-through;
}


