      .agenda_buffer {
        color: #cccccc;
        background-color: #181a26;
      }
      .bold {
        /* bold */
        font-weight: bold;
      }
      .org-agenda-calendar-sexp {
        /* org-agenda-calendar-sexp */
        color: #cccccc;
        background-color: #181a26;
      }
      .org-agenda-current-time {
        /* org-agenda-current-time */
        color: #eedd82;
      }
      .org-agenda-calendar-event {
        /* org-agenda-calendar-event */
        color: #cccccc;
        background-color: #181a26;
      }
      .org-agenda-date-weekend {
        /* org-agenda-date-weekend */
        color: #87cefa;
        font-weight: bold;
      }
      .org-agenda-diary {
        /* org-agenda-diary */
        color: #cccccc;
        background-color: #181a26;
      }
      .org-agenda-done {
        /* org-agenda-done */
        color: #98fb98;
      }
      .org-done {
        /* org-done */
        color: #98fb98;
        font-weight: bold;
      }
      .org-link {
        /* org-link */
        color: #00ffff;
        text-decoration: underline;
      }
      .org-agenda-date-today {
        /* org-agenda-date-today */
        color: #87cefa;
        font-weight: bold;
        font-style: italic;
      }
      .org-habit-overdue {
        /* org-habit-overdue-face */
        background-color: #b22222;
      }
      .org-habit-overdue-future {
        /* org-habit-overdue-future-face */
        background-color: #8b0000;
      }      
      .org-agenda-date {
        /* org-agenda-date */
        color: #87cefa;
      }
      .org-meta-line {
        /* org-meta-line */
        color: #7f7f7f;
      }
      .org-scheduled-previously {
        /* org-scheduled-previously */
        color: #ff7f24;
      }
      .org-scheduled-today {
        /* org-scheduled-today */
        color: #98fb98;
      }      
      .org-table {
        /* org-table */
        color: #87cefa;
      }
      .org-time-grid {
        /* org-time-grid */
        color: #eedd82;
      }
      .org-todo {
        /* org-todo */
        color: #ffc0cb;
        font-weight: bold;
      }
      .org-warning {
        /* org-warning */
        color: #ff0000;
      }      

      a {
        color: inherit;
        background-color: inherit;
        font: inherit;
        text-decoration: inherit;
      }
      a:hover {
        text-decoration: underline;
      }

